<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20" />
    <section name="SAML20Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="SignatureAlgorithmMethod" value="Sha256" />
  </appSettings>
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd HH:mm:ss}-%m%n" />
      </layout>
    </appender>
  </log4net>
  <location path="MyPage.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <Federation auditLoggingType="dk.nita.saml20.Logging.Log4NetAuditLogger, dk.nita.saml20.ext.audit.log4net" xmlns="urn:dk.nita.saml20.configuration">
    <SessionTimeout>30</SessionTimeout>
    <SigningCertificate findValue="4678237245FEDC8059D113675955DFB870D36BF4" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
    <AllowedAudienceUris>
      <Audience>https://saml.claimapp.adgangsstyring.projekt-stoettesystemerne.dk</Audience>
    </AllowedAudienceUris>
    <Actions>
      <clear />
      <add name="SetSamlPrincipal" type="dk.nita.saml20.Actions.SamlPrincipalAction, dk.nita.saml20" />
      <add name="LogAction" type="Kombit.Samples.CH.WebsiteDemo.LogAction, Kombit.Samples.CH.WebsiteDemo" />
      <add name="Redirect" type="dk.nita.saml20.Actions.RedirectAction, dk.nita.saml20" />
    </Actions>
  </Federation>
  <SAML20Federation xmlns="urn:dk.nita.saml20.configuration">
    <ShowError>true</ShowError>
    <ServiceProvider id="https://saml.claimapp.adgangsstyring.projekt-stoettesystemerne.dk" server="https://claimapp.adgangsstyring.projekt-stoettesystemerne.dk">
      <ServiceEndpoint localpath="/login.ashx" type="signon" redirectUrl="/MyPage.aspx?action=sso" index="0" />
      <ServiceEndpoint localpath="/logout.ashx" type="logout" redirectUrl="/Default.aspx" index="1" />
      <ServiceEndpoint localpath="/logout.ashx" type="soaplogout" errorBehaviour="throwexception" />
      <ServiceEndpoint localpath="/metadata.ashx" type="metadata" />
      <md:ContactPerson contactType="administrative" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata">
        <md:Company>KOMBIT</md:Company>
        <md:GivenName>KOMBIT</md:GivenName>
        <md:SurName>KOMBIT</md:SurName>
        <md:EmailAddress>KOMBIT@KOMBIT.DK</md:EmailAddress>
        <md:TelephoneNumber>12345678</md:TelephoneNumber>
      </md:ContactPerson>
    </ServiceProvider>
    <RequestedAttributes>
      <att name="dk:gov:saml:attribute:AssuranceLevel" isRequired="true" />
      <att name="dk:gov:saml:attribute:SpecVer" isRequired="true" />
      <att name="dk:gov:saml:attribute:KombitSpecVer" isRequired="true" />
      <att name="dk:gov:saml:attribute:CvrNumberIdentifier" isRequired="false" />
      <att name="dk:gov:saml:attribute:Privileges_intermediate" isRequired="false" />
    </RequestedAttributes>
    <NameIdFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIdFormat>
    <IDPEndPoints metadata="metadata">
      <add id="https://kombit-demo.safewhere.local">
        <CertificateValidation>
          <add type="dk.nita.saml20.Specification.SelfIssuedCertificateSpecification, dk.nita.saml20, Version=1.7.11.0, Culture=neutral" />
        </CertificateValidation>
      </add>
    </IDPEndPoints>
    <CommonDomain enabled="false" localReaderEndpoint="https://pfs04/demo/cdcreader.ashx" />
  </SAML20Federation>
  <system.web>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="/login.ashx" name="DemoServiceProvider" timeout="30" />
    </authentication>
    <sessionState mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="dk.nita.saml20" switchValue="Verbose">
        <listeners>
          <add name="trace" />
        </listeners>
      </source>
      <source name="dk.nita.saml20.auditLogger" switchValue="Information">
        <listeners>
          <add name="trace" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="trace" type="System.Diagnostics.XmlWriterTraceListener" initializeData="saml2.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="false" applyToWebDAV="false">
          <remove fileExtension=".aspx" />
          <remove fileExtension=".ashx" />
          <remove fileExtension=".axd" />
          <remove fileExtension=".cshtml" />
          <remove fileExtension=".xhtml" />
          <remove fileExtension=".css" />
          <remove fileExtension=".xml" />
          <remove fileExtension=".gif" />
          <remove fileExtension=".png" />
          <remove fileExtension=".jpg" />
          <remove fileExtension=".js" />
          <remove fileExtension=".asmx" />
          <remove fileExtension=".svc" />
          <remove fileExtension=".idp" />
          <remove fileExtension=".dll" />
          <remove fileExtension=".xsd" />
          <remove fileExtension="." />
          <add fileExtension=".aspx" allowed="true" />
          <add fileExtension=".ashx" allowed="true" />
          <add fileExtension=".axd" allowed="true" />
          <add fileExtension=".cshtml" allowed="true" />
          <add fileExtension=".xhtml" allowed="true" />
          <add fileExtension=".css" allowed="true" />
          <add fileExtension=".xml" allowed="true" />
          <add fileExtension=".gif" allowed="true" />
          <add fileExtension=".png" allowed="true" />
          <add fileExtension=".jpg" allowed="true" />
          <add fileExtension=".js" allowed="true" />
          <add fileExtension=".asmx" allowed="true" />
          <add fileExtension=".svc" allowed="true" />
          <add fileExtension=".idp" allowed="true" />
          <add fileExtension=".dll" allowed="true" />
          <add fileExtension=".xsd" allowed="true" />
          <add fileExtension="." allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>